{% extends "index.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>quiz</title>
</head>
{% block content %}
<br>
<br>
<body style="background-color: black;background-size: auto;">
    <center>
        <form action="#" method="POST">

            <div class="card w-50 shadow-lg p-4 mb-4 bg-white" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTDmJMzsE6hDCHGn49DX0FDPxkRF8NznSPBib0vFLPAzzODZ5d2);" >
                    
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                         
                      <p>This Sorting Quiz Will Tell You Which Hogwarts House You Truly Belong In.</p>
                    </div>
                  </div>
                
                
                <div class="card ">
                        <div class="card-header" style="background-color: purple; align-content: center;color: seashell;">
                                   Hogwarts
                        </div>
                        <div class="card-body">
                                  
                                    <p class="card-text">Pick a candy.</p>
                                    <input type="radio" name="tipe1" value="b" checked> Chocolate frogs<br>
                                    <input type="radio" name="tipe1" value="c"> Fizzy wizzy<br>
                                    <input type="radio" name="tipe1" value="a"> Honexdukes Sherbet Lemons<br>
                                    <input type="radio" name="tipe1" value="d"> Bertie Bott's Every Flavor Becons<br><br>
                               
                        </div>
                            <br>
                            <br>

                         <div class="card-header" style="background-color: purple; align-content: center;color: seashell;">
                                   Hogwarts
                        </div>
                        <div class="card-body">
                                   
                                    <p class="card-text">Pick a pet:</p>
                                    <input type="radio" name="tipe2" value="d" checked> lizard<br>
                                    <input type="radio" name="tipe2" value="a"> dog<br>
                                    <input type="radio" name="tipe2" value="b"> terret<br>
                                    <input type="radio" name="tipe2" value="c"> cat<br><br>
                                
                        </div>

                            <br>
                            <br>
                        <div class="card-header" style="background-color: purple; align-content: center;color: seashell;">
                           Hogwarts
                         </div>
                        <div class="card-body">
                                   
                                    <p class="card-text">Pick a class:</p>
                                    <input type="radio" name="tipe3" value="c" checked> Charms<br>
                                    <input type="radio" name="tipe3" value="d"> Potions<br>
                                    <input type="radio" name="tipe3" value="b"> History of magic<br>
                                    <input type="radio" name="tipe3" value="a"> Transfigurations<br><br>
                                
                        </div>

                        <div class="card-header" style="background-color: purple; align-content: center;color: seashell;">
                            Hogwarts
                         </div>
                        <div class="card-body">
                                 
                                    <p class="card-text">If your friend cheated on a test you would</p>
                                    <input type="radio" name="tipe4" value="c" checked> Offer to help him/her to study for the next one<br>
                                    <input type="radio" name="tipe4" value="d"> Offer to cheat off of your test<br>
                                    <input type="radio" name="tipe4" value="a"> Tell them thats not fair<br><br>
                                    <input type="radio" name="tipe4" value="b"> Ignore it<br><br>
                        </div>

                        <div class="card-header" style="background-color: purple; align-content: center;color: seashell;">
                            Hogwarts
                         </div>
                        <div class="card-body">
                                   
                                    <p class="card-text">Pick a color</p>
                                    <input type="radio" name="tipe5" value="c" checked> Purple<br>
                                    <input type="radio" name="tipe5" value="d"> White<br>
                                    <input type="radio" name="tipe5" value="b"> Orange<br><br>
                                    <input type="radio" name="tipe5" value="a"> Pink<br><br>
                        </div>


                        <div class="card-header" style="background-color: purple; align-content: center;color: seashell;">
                            Hogwarts
                         </div>
                        <div class="card-body">
                                   
                                    <p class="card-text">Your mam sends you  a Howler for something you didn't do wroung.</p>
                                    <input type="radio" name="tipe6" value="b" checked> You feel bad that you upset her.<br>
                                    <input type="radio" name="tipe6" value="a"> You are embarased that everyone heard.<br>
                                    <input type="radio" name="tipe6" value="c"> Write her back to tell her know she is wrong.<br><br>
                                    <input type="radio" name="tipe6" value="d"> She is crazy and you are obviusly right.<br><br>
                        </div>

                        <div class="card-header" style="background-color: purple; align-content: center;color: seashell;">
                            Hogwarts
                         </div>

                        <div class="card-body">
                           
                            <p class="card-text">Your patronus would be </p>
                            <input type="radio" name="tipe7" value="a" checked> Pantehr<br>
                            <input type="radio" name="tipe7" value="c"> fox.<br>
                            <input type="radio" name="tipe7" value="b"> hedgehog<br><br>
                            <input type="radio" name="tipe7" value="d">cat.<br><br>
                </div>



                    </div>

                        
            

            </div>
            <p><input style="font-size: 35px;" class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect "   type="submit" value="submit"/></p>
        </form>
        
        <div class="card" style="width: 18rem;">
            <img src="https://wallpaperaccess.com/full/927846.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text"><h1>{{message}}</h1></p>
            </div>
          </div>
        

            
    </center>

    {% endblock %}
</body>
</html>