  {% extends "index.html" %}
{% block title %}Login Page{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ author }}'s app</title>
    <title>About</title>
	

	
</head>
<body >
{% block content %}
<center>
<form action="/savedetails" method="POST">

	
	<div class="card">

		<h5 class="card-header info-color white-text text-center py-4" style="background-color:rgb(80, 157, 192);font-size: 35px;">
			<strong>Sign in</strong>
		  
		</h5>

		<div class="card-body px-lg-5 pt-0">

	
			<form >
				<div class="form-group"   class="md-form" style="font-family: 'Sigmar One', cursive; font-size: 35px;">
					<p>Name:</p>
					<p><input  class="border border-top-0 border-left-0 border-right-0" style="font-size: 35px;" class="form-control"  type="text" name="name" /></p>
				<label for="materialLoginFormEmail"  >Email address</label>
				<br>
				<input  class="border border-top-0 border-left-0 border-right-0" class="form-control" style="font-size: 35px;" type="email" attern=".{8,}"   required title="8 characters minimum"  minlength="8" required class="form-control" name="email" aria-describedby="emailHelp"/>
				<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				</div>
				<div class="form-group" style="font-family: 'Sigmar One', cursive; font-size: 35px;">
				<br>
				<label for="exampleInputPassword1"  >Password</label>
				<br>
				<input   class="border border-top-0 border-left-0 border-right-0" style="font-size: 35px;"  type="password" attern=".{8,}"   required title="8 characters minimum"  minlength="8" required class="form-control" id="exampleInputPassword1" name="pass"/>
				</div>
				
				<p><input style="font-size: 35px;" class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect"   type="submit" value="submit"/></p>


				<!---

				<table>  
					<tr><td>Name</td><td><input type="text" name="name"></td></tr>  
					<tr><td>Email</td><td><input type="email" name="email"></td></tr>  
					<tr><td>Address</td><td><input type="text" name="address"></td></tr>  
					<tr><td><input type="submit" value="Submit"></td></tr>  
				</table> --> 














			</form>
		</div>
	</div>
</form>
</center>
</body>
</html>
{% endblock %}


 
