{% extends "index.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>quiz</title>
</head>
{% block content %}
<br>
<br>
<body style="background-color: lightskyblue;background-repeat: no-repeat; background-size: 100%;">
      <center>
        <form action="#" method="POST">
            
            <div class="card w-50 shadow-lg p-4 mb-4 bg-white" style="background-image: url(https://i.pinimg.com/originals/58/03/15/580315d739f8d507be68ebee5ea8b89e.jpg);" >
                         
                <div class="jumbotron jumbotron-fluid">
                  <div class="container">
                       
                    <p>You think you know everithing about cartoon caracters?Solve this quiz to find out if you are an expert or not.</p>
                  </div>
                </div>
              
              
                    <div class="card ">
                        <div class="card-header" style="background-color: purple; align-content: center;color: seashell;">
                                    Minnie Mouse
                        </div>
                        <div class="card-body">
                                    
                                    <p class="card-text">Minnie Mouse's skirt is red with white...</p>
                                    <input type="radio" name="tipe1" value="a" checked> stripes<br>
                                    <input type="radio" name="tipe1" value="b"> dots<br>
                                    <input type="radio" name="tipe1" value="c"> stars<br><br>
                               
                        </div>
                            <br>
                            <br>
                          

                         <div class="card-header" style="background-color: purple; align-content: center;color: seashell;">
                                    Disnay
                        </div>
                        <div class="card-body">
                                    
                                    <p class="card-text">Which disney movie features a song called I just can't wait to be king?</p>
                                    <input type="radio" name="tipe2" value="a" checked> The lion king<br>
                                    <input type="radio" name="tipe2" value="b"> Mulan<br>
                                    <input type="radio" name="tipe2" value="c"> Frozen<br><br>
                                
                        </div>

                            <br>
                            <br>
                          
                        <div class="card-header" style="background-color: purple; align-content: center;color: seashell;">
                            Cinderella
                         </div>
                            <div class="card-body">
                                        
                                        <p class="card-text">In the movie Cinderella which character says  Even miracles take a little time?</p>
                                        <input type="radio" name="tipe3" value="a" checked> The fairy Good Mother<br>
                                        <input type="radio" name="tipe3" value="b">Cinderella<br>
                                        <input type="radio" name="tipe3" value="c"> Princ<br><br>
                                    
                            </div>
                            

                            <div class="card-header" style="background-color: purple; align-content: center;color: seashell;">
                              Aurora
                          </div>
                          <div class="card-body">
                                     
                                      <p class="card-text">Which princess Disnay movie does princess Aurora apires in?</p>
                                      <input type="radio" name="tipe4" value="a" checked> Sleapy beauty<br>
                                      <input type="radio" name="tipe4" value="b">Beauty and the beast<br>
                                      <input type="radio" name="tipe4" value="c"> Snowwhite<br><br>
                                  
                          </div>
                          <div class="card-header" style="background-color: purple; align-content: center;color: seashell;">
                            Abu
                        </div>
                        <div class="card-body">
                                  
                                    <p class="card-text">What tipe of animal is Abu</p>
                                    <input type="radio" name="tipe5" value="a" checked> frog<br>
                                    <input type="radio" name="tipe5" value="b">monkey<br>
                                    <input type="radio" name="tipe5" value="c"> bear<br><br>
                                
                        </div>
                        
                            <div class="card-header" style="background-color: purple; align-content: center;color: seashell;">
                              Jungle Book
                          </div>
                      <div class="card-body">
                                  
                                  <p class="card-text">What is the name of huge snake in Jungle book?</p>
                                  <input type="radio" name="tipe6" value="a" checked> Viper<br>
                                  <input type="radio" name="tipe6" value="b">Sir Hiss<br>
                                  <input type="radio" name="tipe6" value="c"> Kaa<br><br>
                              
                      </div>
                      
                        
                      <div class="card-header" style="background-color: purple; align-content: center;color: seashell;">
                       Roobin Hood
                    </div>
                <div class="card-body">
                            
                            <p class="card-text">In a Roobin Hood cartoon Little John was...</p>
                            <input type="radio" name="tipe7" value="a" checked> bear<br>
                            <input type="radio" name="tipe7" value="b">fox<br>
                            <input type="radio" name="tipe7" value="c"> turtle<br><br>
                        
                </div>







                    </div>
                    

                        
                    <p><input style="font-size: 35px;" class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect "   type="submit" value="submit"/></p>

            </div>
        
        </form>
        
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="https://wallpapercave.com/wp/wp2463551.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h1>{{message}}</h1>
                 
                  
                </div>
              </div>
            </div>
          </div>
        
    </center>
            
    
    {% endblock %}

</body>
</html>